table, th,td{
    border: none;
    border-collapse: collapse;
}
tbody tr{
    background-color: white;
}
tbody tr td:first-child{
    padding: 10px 10px;
}
tbody tr td{
    margin: 0px 10px;
}
tbody tr:nth-child(odd){
    background-color:rgb(243, 240, 240);
}
.pin{
    margin-right: 8px;
    margin-top: 20px;
}
.btn1{
    padding: 1px 10px;
    border-radius: 3px;
    color: white;
}
.users{
    padding: 6px 10px;
    margin: 0px 5px;
    border-radius: 50%;
    color: white;
}
.category{
    
}